@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.loadBtn {
  padding: 10px 20px;
  cursor: pointer;
}

.box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
