* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: auto;
  height: 2400px;
  transition: background-color 0.5s ease;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  mix-blend-mode: difference;
}
